@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}
